In [ ]:
import numpy as np
print(np.__version__)

In [ ]:
print("Hello World")
print("Nama saya Salwa")
print("NIM saya 2020071047")

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

In [ ]:
x = 5
y = "john"
print(x)
print(y)

In [ ]:
x = 4
x = "Sally"
print(x)

In [ ]:
def getFirst(myList):
  return myList[2]
getFirst([1,2,3])

In [ ]:
def getSecond(myList):
  return myList[2]
getSecond([1,2,3])

In [ ]:
def getSum(myList):
  sum = 0
  for item in myList:
    sum=sum+item
  return sum
getSum([1,2,3,4])

In [ ]:
def getKali(myList):
  kali = 1
  for item in myList:
    kali=kali*item
  return kali
getKali([1,2,3,4])

In [ ]:
def getBagi(myList):
  bagi = 10
  for item in myList:
    bagi=bagi/item
  return bagi
getBagi([1,2])

In [55]:
def getSum(myList):
  sum = 0
  for row in myList:
    for item in row:
      sum += item
  return sum

getSum([[1,2,5], [3,4,7]])

22

In [58]:
def getBagi(myList):
  bagi = 100
  for row in myList:
    for item in row:
      bagi /= item
  return bagi

getBagi([[5], [4]])

5.0

In [ ]:
def getKurang(myList):
  kurang = 50
  for row in myList:
    for item in row:
      kurang -= item
  return kurang

getKurang([[5, 2, 3], [9, 8, 6]])

In [83]:
def searchBinary(myList,item):
    first = 0
    last = len(myList)-1
    foundFlag = False
    while( first<=last and not foundFlag):
        mid = (first + last) //2
        if myList[mid] == item :
            foundFlag = True
        else:
            if item < myList[mid]:
                last = mid - 1
            else:
                first = mid + 1
    return foundFlag
searchBinary ([8,9,10,100,1000,2000,3000], 10)
#searchBinary ([8,9,10,100,1000,2000,3000], 5)

True